.backdrop {
  z-index: 101;
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: var(--background-menu);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
  &--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    .backdrop {
      width: 254px;
    }
  }
}
