.container {
    max-width: 100%;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

}

@media(min-width: 480px) {
    .container {
        min-width: 480px;
    }
}

@media(min-width: 768px) {
    .container {
        min-width: 765px;
    }
}

@media(min-width: 1280px) {
    .container {
        width: 1280px;
        padding-left: 0;
        padding-right: 0;
      }
}

