.page-footer {
    // wymaga zmiany color tła na var z root
    background: var(--background-contacts-footer);
    
    & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    }
}

.footer__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: -150px;
    
}

.footer__locations {
    display: flex;
    flex-direction: column;
    padding: 43px 20px;
    background: var(--background-button-light);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    width: 90%;
    // max-width: 220px;
    margin-bottom: 20px;
}
.contacts {
    display: none;
}
//buttony//------------------------------

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 54px;
    margin-bottom: 113px;
       
}

.button-locations {
    /* Our Locations */
    width: 198px;
    height: 44px;
    display: inline-block;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    text-align: center;
    color: var(--background-button-light);
    background: var(--background-button-dark);
    border-radius: 22px;
    border: none;
    padding-left: 35px;
    padding-right: 35px;
    cursor: pointer;

    &--color {
    color: var(--background-button-dark);
    background: var(--background-button-light);


        &:hover,
        &:focus {
        background: var(--background-button-light-accent);
        color: var(--background-button-dark);
        }
    }

    &--margin {
        margin-bottom: 10px;
    }
}

.button__mark--light {
    color:var(--text-button-light) ;
    margin-left: 10px;
    font-weight: 700;
    border-radius: 0 3p 3px 0;
}
.button__mark--dark {
    color: var(--background-button-dark);
    margin-left: 10px;
    font-weight: 700;
    border-radius: 0 3p 3px 0;
}


//------------------------------sekcja kontakt----//
.location__title {
    font-size: 12px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: center;
    color: var( --text-light);
    border-radius: 6px;
    margin-right: auto;
    outline: none;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    
    &--cafe {
        background: var( --background-ice-coffee);
        border: var( --background-ice-coffee);
        margin-bottom: 25px;
    }

    &--food {
        background: var( --background-milkshakes);
        border: var( --background-milkshakes);
        margin-bottom: 25px;
    }
}

.location__place {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--text-dark);
    
    &--margin {
    margin-bottom: 10px;
    }
}

.location__info {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.04em;
    color: var( --text-main);
    
}

.location__opening-week {
    /* Monday - Friday */
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.04em;
    color: var( --text-dark);

}

.location__opening-time {
    /* 06:00 AM - 10:00 PM */
    font-style: bold;
    font-weight: 500;
    font-size: 12px;
    line-height: 22px;
    color: var( --text-hours);

}

.location__opening-hours {
    border-top: 1px solid var( --undrline-effect);
    border-bottom: 1px solid var( --undrline-effect);
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    margin-top: 25px;
}

.location__contact-list {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    color: var( --text-main);
    text-decoration: none;
    
}

.location__contact {
    text-decoration: none;
    color: var( --text-main);
}


.footer__section-bottom {
    display: flex;
    flex-direction: column;
    width: 100%;
    
    &--margin {
    margin-bottom: 43px;
    }
}

//duży napis w footerze//
.footer__text-light {
    /* homemade ice cream made */
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var( --text-hours);
    flex-wrap: wrap;
    max-width: 90%;
    margin-bottom: 17px;
}

.footer__text-dark {
    /* with passion */
    font-family: $secondaryFont;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    line-height: 39px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var( --background-button-dark);
    max-width: 50%;
  
}
//social list//
.footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: nowrap;

    &-list {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        align-content: flex-end;
    }
}
.footer__social-margin {
    margin-top: 43px;
    
}
.social-list__item--footer {
    margin-left: 28px;
}

.social-list__link {
    fill:var(--social-icon-color);
    transition-property: background-color;
    transition-duration: 250ms;
}

.social-list__icon {
    fill: var(--social-icon-color);

    &:hover,
    &:focus {
        background-color: var(  --background-button-light);
        fill: var(--customer-review-accent);
        }
}

.footer__contact {
    display: flex;
    align-content: flex-end;
    flex-wrap: nowrap;
    align-items: baseline;
    text-decoration: none;
    font-style: bold;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.02em;
    min-width: 230px;
    height: 22px;
    margin-top: 46px;
}

.footer__contact-phone {
    color: var( --background-button-dark);
    margin-left: 10px;
    text-decoration: none;
    flex-wrap: nowrap;
}

.footer__accent {
    /* Feel free to contact*/
    color: var( --text-dark);
    flex-wrap: nowrap;
}

//podstopka//-----------------------------------------------------
.footer__bottom {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-top: 1px solid var( --undrline-effect);
    width: 100%;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--text-main);
    padding: 22px 80px 25px 75px;

}


//ustawienia dla tableta-desktopu//
@media screen and (min-width: 768px) {
    .footer__list {
        flex-direction: row;
        justify-content: space-between;
        
    }
    .footer__locations {
        padding: 50px 32px;
        width: 100%;
         &:not(:last-child) {
                 margin-right: 20px;
            }
      
    }
    .location__title {
        margin-bottom: 30px;
        font-size: 16px;
        line-height: 30px;
    }
    .location__place {
        font-size: 14px;
        line-height: 26px;
    }
    .location__place--margin {
        margin-bottom: 14px;
    }
    .location__info {
        font-size: 14px;
        line-height: 23px;
    }
    .location__info--margin {
        margin-bottom: 30px;
    }
    .location__opening-hours {
        margin-top: 30px;
        margin-bottom: 30px;

    }
    .location__opening-week {
        font-size: 14px;
        line-height: 26px;
    }
    .location__opening-time {
        font-size: 14px;
        line-height: 26px;
        margin-bottom: 16px;
    }
    .location__contact-list {
        font-size: 14px;
        line-height: 26px;
    }
    //-------------------------------------------
    .button-locations--margin {
        margin-right: 15px;
    }
    .button-locations--color {
        margin-bottom: 10px;
    }
    .buttons {
    margin-top: 81px;
    margin-bottom: 158px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-content: center;
    
    }
//---------duży text w footerze-----------------------------------
.footer__section-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
   
    }
.footer__section-bottom--margin {
    margin-bottom: 91px;
    }
.footer__text-light {
    font-size: 26px;
    line-height: 30px;
}
.footer__text-dark {
    font-size: 48px;
    line-height: 55px;
}

 .footer__social-margin {
    margin-top: 0;
 }
.footer__contact {
    font-size: 16px;
    line-height: 26px;
}
.footer__bottom {
    padding-top: 29px;
    padding-bottom: 18px;
}
}
//--------ustawienia desktop-----------------------------------------
 @media screen and (min-width: 1280px) {
.footer__locations {
    padding: 51px 44px 62px;
    
    width: 100%;
    &:not(:last-child) {
            margin-right: 30px;
        }
    
}
.location__place {
    font-size: 16px;
    line-height: 30px;
}
.location__info {
    font-size: 16px;
    line-height: 30px;
}
.location__info--margin {
    margin-bottom: 32px;
}
.location__opening-hours {
    margin-top: 32px;
    margin-bottom: 32px;
}
.location__opening-week {
    font-size: 16px;
    line-height: 30px;
}
.location__opening-time {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 15px;
}
.location__contact-list {
    font-size: 16px;
    line-height: 30px;
}
.buttons {
    margin-top: 86px;
    margin-bottom: 165px;
}
.footer__section-bottom--margin {
    margin-bottom: 97px;
}

.footer__text-light {
    font-size: 30px;
    line-height: 35px;
    max-width: 100%;
    margin-bottom: 15px;
}

.footer__text-dark {
    font-size: 58px;
    line-height: 67px;
    max-width: 100%;
}
.footer__contact {
    line-height: 30px;
    margin-top: 50px;
}
.footer__bottom {
    padding-top: 9px;
    padding-bottom: 10px;
    line-height: 26px;
}
 
.page-footer {
    background-image: url(../images/footer/dots@x1.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: var(--background-contacts-footer);   
    }

 @media (min-device-pixel-ratio: 2),(min-resolution: 192dpi),(min-resolution: 2dppx) {
    .page-footer {
    background-image: url(../images/footer/dost@x2.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    background-color: var(--background-contacts-footer);
    }
}
 }
 
 
