.header {
  background-color: var(--background-main);
  font-family: $mainFont;
  width: 100%;
  display: flex;
  justify-content: center;
}
.header__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 37px;
}
.header__logo-icon {
  fill: var(--brand-the-darkest);
  margin-right: 15px;
}
.header__logo {
  color: var(--brand-the-darkest);
  font-family: $secondaryFont;
  font-size: 30px;
  display: flex;
  align-items: center;
}
.header__head-buttons {
  z-index: 100;
  display: flex;
  align-items: center;
}
.header__menu-button {
  fill: var(--brand-the-darkest);
  background: none;
  border: none;
  width: 20px;
  height: 12px;
  margin-right: 0px;
}
.header__title-group {
  position: relative;
}
.header__button-list {
  display: flex;
}
.header__button--products {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0px auto;
  align-items: center;
  font-family: $mainFont;
  color: var(--text-light);
  background-color: var(--background-button-dark);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  width: 102px;
  height: 40px;
  border: none;
  margin-right: 15px;
}
.header__button--products:hover {
  cursor: pointer;
  background-color: var(--accent-darker);
}
.header__button--how-its-made {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0px auto;
  align-items: center;
  font-family: $mainFont;
  color: var(--brand-the-darkest);
  background-color: var(--background-button-light);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  width: 138px;
  height: 40px;
  border: none;
}
.header__button--how-its-made:hover {
  cursor: pointer;
  background-color: var(--background-button-light-accent);
}
.header__ice-cream {
  position: absolute;
  bottom: 75px;
  width: 284px;
  left: 6%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.header__ice-cream-image {
  position: relative;
  left: 22.12%;
  bottom: -65px;
}
.header__milk {
  display: flex;
  position: absolute;
  bottom: 45px;
}
.header__milk-addition {
  display: flex;
  flex-direction: column-reverse;
}
.header__milk-button {
  background-color: var(--background-button-light);
  border-radius: 50%;
  margin-top: 20px;
  width: 26px;
  height: 26px;
  border: none;
}
.header__milk-button:hover,
.header__milk-button:focus {
  cursor: pointer;
  background-color: var(--background-button-light-accent);
}
.header__milk-icon {
  fill: var(--brand-the-darkest);
}
.header__milk-description {
  font-family: $mainFont;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  max-height: 78px;
  color: var(--text-light);
}
.header__so-tasty {
  position: absolute;
  bottom: 0;
  right: 0;
}
.header__branch-list {
  margin: 0;
  position: absolute;
  right: 0;
  top: 24%;
}
.header_branch-list-counter {
  font-family: $secondaryFont;
  font-size: 46px;
  line-height: 1.145;
  text-align: right;
  color: var(--accent);
  padding-right: 18px;
  background-image: url('../images/header-desktop/Ellipse.png');
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}
.header_branch-list-counter-description {
  font-family: $mainFont;
  font-size: 14px;
  line-height: 1.286;
  color: var(--text-light);
  margin: 0;
}
@media screen and (max-width: 767px) {
  .header {
    overflow: clip;
  }
  .header__buy-button {
    display: none;
  }
  .header__milk {
    display: none;
  }
  .header__branch {
    display: none;
  }
  .header__so-tasty {
    display: none;
  }
  .header__logo {
    z-index: 100;
  }
  .header__container {
    height: 502px;
  }
  .header__title-group {
    z-index: 100;
    top: 193px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__ice-cream {
    bottom: 75px;
    width: 346px;
    left: 6%;
    background-image: none;
    &::before {
      position: absolute;
      bottom: 0px;
      content: '';
      display: inline-block;
      width: 346px;
      height: 344px;
      border-radius: 50%;
      background-color: var(--background-darker);
      overflow: clip;
    }
  }
  .header__ice-cream-image {
    position: relative;
    right: 10%;
    bottom: -75px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header__ice-cream {
    left: unset;
    right: 0%;
  }
}
@media screen and (max-width: 1199px) {
  .header__navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 37px 34px 0px 34px;
    height: 399px;
  }
  .header__menu-button {
    margin-right: 30px;
  }
  .header__buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0px auto;
    align-items: center;
    font-family: $mainFont;
    color: var(--brand-the-darkest);
    background-color: var(--background-button-light);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    width: 159px;
    height: 44px;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: var(--background-button-light-accent);
    }
  }
  .header__buy-button-icon {
    margin-left: 10px;
  }
  .header__title-group {
    top: 15px;
    left: 0px;
  }
  .header__button--products {
    font-size: 8px;
    line-height: 1.25;
    width: 61.2px;
    height: 24px;
    margin-right: 9.2px;
  }
  .header__button--how-its-made {
    font-size: 8px;
    line-height: 1.25;
    width: 82.8px;
    height: 24px;
  }
  .header__milk-description {
    font-size: 8px;
    line-height: 1.5;
    max-height: 48px;
  }
  .header__milk-addition {
    max-width: 114px;
    margin-left: 0px;
    padding-bottom: 6px;
  }
  .header__milk {
    bottom: 28px;
  }
  .header_branch-list-counter {
    font-size: 28px;
    line-height: 1.14;
    padding-right: 10px;
    background-image: url('../images/header-tablet/Ellipse.png');
    background-size: 16px 16px;
  }
  .header_branch-list-counter-description {
    font-size: 8px;
    line-height: 1.25;
  }
  .header__branch-list {
    right: 34px;
    top: 24%;
  }
  .header__ice-cream {
    bottom: 46px;
    width: 324px;
    left: 40%;
    background-image: url('../images/header-tablet/circle.png');
  }
  .header__ice-cream-image {
    bottom: -46px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding: 37px 115px 0px 46px;
    height: 665px;
  }
  .header__menu-button {
    display: none;
  }
  .header__buy-button-icon {
    margin-left: 10px;
  }
  .header__title-group {
    top: 84px;
    left: 5.5%;
    right: 0.69375%;
  }
  .header__button--products {
    font-size: 14px;
    line-height: 1.3;
    width: 102px;
    height: 40px;
    margin-right: 15px;
  }
  .header__button--how-its-made {
    font-size: 14px;
    line-height: 1.3;
    width: 138px;
    height: 40px;
  }
  .header__ice-cream {
    bottom: 65px;
    width: 538px;
    left: 40%;
    background-image: url('../images/header-desktop/circle.png');
  }
  .header__ice-cream-image {
    position: relative;
    left: 22.12%;
    bottom: -65px;
  }
  .header__milk-addition {
    max-width: 200px;
    margin-left: 20px;
    padding-bottom: 11px;
  }
  .header__milk-description {
    font-size: 14px;
    line-height: 1.4;
    max-height: 78px;
  }
  .header__branch-list {
    right: 97px;
  }
  .header_branch-list-counter {
    font-size: 46px;
    line-height: 1.145;
    padding-right: 18px;
    background-image: url('../images/header-desktop/Ellipse.png');
    background-size: 30px 30px;
  }
  .header_branch-list-counter-description {
    font-size: 14px;
    line-height: 1.286;
  }
  .header__so-tasty {
    right: 109px;
  }
}
