.milk {
  background-image: url(../images/about-advantages/milk-drops-desktop@1x.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 0px 370px;
  background-color: var(--background-about);
  font-family: $mainFont;
  padding-bottom: 0px;
  &__image {
    margin-right: 0;
  }
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .milk {
    background-image: url(../images/about-advantages/milk-drops-desktop@2x.png);
  }
}
.about {
  &__title {
    padding-top: 125px;
    text-align: center;
    color: var(--brand-darker);
    font-size: large;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.14;
    font-family: $secondaryFont;
  }
  &__title2 {
    padding-top: 15px;
    text-align: center;
    color: var(--brand-the-darkest);
    font-size: large;
    font-weight: 400;
    font-size: 58px;
    line-height: 1.14;
    font-family: $secondaryFont;
  }
  &__description {
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.76;
    padding-bottom: 35px;
  }
  &__description2 {
    color: var(--text-main);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.94;
    padding-bottom: 45px;
  }
  &__content {
    padding-top: 55px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  &__text {
    padding-left: 0;
    max-width: 463px;
  }
  &__button {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--brand-the-darkest);

    background-color: white;
    border-radius: 22px;
    border-style: none;
    width: 176px;
    height: 44px;
    &-icon {
      margin-left: 10px;
    }
    &:hover {
      cursor: pointer;
      background-color: var(--background-button-light-accent);
    }
  }
}
.advantages {
  &__title-hidden {
    display: none;
  }
  &__title {
    position: relative;
    display: flex;
    padding-top: 129px;
    font-size: 58px;
    font-weight: 400;
    line-height: 1.14;
    color: var(--brand-the-darkest);
    font-family: $secondaryFont;
  }
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
  }
  &__text {
    max-width: 330px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.76;
    color: black;
    padding-top: 15px;
      padding-bottom: 139px;
  }
  &__icon {
    height: 50px;
  }
}
@media screen and (max-width: 1280px) {
  .milk {
    background-image: none;
  }
  .milk__image {
    max-width: 340px;
  }
  .about {
    &__text {
      max-width: 340px;
    }
    &__title {
      font-size: 26px;
    }
    &__title2 {
      font-size: 48px;
    }
    &__description {
      font-size: 14px;
    }
  }
  .advantages {
    &__list {
      justify-content: space-around;
      & li {
        max-width: 180px;
      }
    }
    &__title {
      padding-top: 152px;
      position: relative;
      display: flex;
      font-size: 48px;
    }
    &__text {
      padding-bottom: 140px;
      font-size: 14px;
    }
    
  }
}
@media screen and (max-width: 768px) {
  .milk {
    background-image: url(../images/about-advantages/milk-drops-mob@1x.png);
  }
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .milk {
      background-image: url(../images/about-advantages/milk-drops-mob@2x.png);
    }
  }
  .milk__image {
    max-width: 280px;
  }
  .about {
    &__content {
      flex-direction: column;
    }
    &__title {
      font-size: 18px;
    }
    &__title2 {
      font-size: 34px;
    }
    &__description {
      font-size: 12px;
    }
  }
  .advantages {
    &__list {
      padding-top: 39px;
      padding-left: 5px;
      padding-bottom: 59px;
      flex-direction: column;
      justify-content: center;
      & li {
        max-width: 230px;
      }
    }
    &__title {
      padding-top: 66px;
      position: relative;
      display: flex;
      font-size: 36px;
    }
    &__text {
      font-size: 12px;
      padding-bottom: 38px;
    }
  }
}
.advantages__milk::before {
  content: '';
  position: absolute;
  display: inline-flex;
  background-image: url(../images/about-advantages/1advantage.png);
  transform: translate(-50%, 0);
  background-repeat: no-repeat;
  background-size: contain;
  width: 33px;
  height: 50px;
  left: 17px;
  top: 39px;
}
.advantages__bucket::before {
  content: '';
  position: absolute;
  display: inline-flex;
  background-image: url(../images/about-advantages/2advantage.png);
  transform: translate(-50%, 0);
  background-repeat: no-repeat;
  background-size: contain;
  width: 50px;
  height: 50px;
  left: 25px;
  top: 39px;
}
.advantages__lollipop::before {
  content: '';
  position: absolute;
  display: inline-flex;
  background-image: url(../images/about-advantages/3advantage.png);
  transform: translate(-50%, 0);
  background-repeat: no-repeat;
  background-size: contain;
  width: 44px;
  height: 50px;
  left: 22px;
  top: 39px;
}
@media screen and (max-width: 1280px) {
  .advantages{
    &__milk::before{
      top: 62px;
    }
    &__bucket::before{
      top: 62px;
    }
    &__lollipop::before{
      top: 62px;
    }
  }
  
}
@media screen and (max-width: 768px) {
  .advantages{
    &__milk::before{
      top: 0px;
    }
    &__bucket::before{
      top: 0px;
    }
    &__lollipop::before{
      top: 0px;
    }
  }
  
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .advantages__milk::before {
        background-image: url(../images/about-advantages/1advantage@2x.png);
      }
      .advantages__bucket::before {
        background-image: url(../images/about-advantages/2advantage@2x.png);
      }
      .advantages__lollipop::before {
        background-image: url(../images/about-advantages/3advantage@2x.png);
      }
    }
  