.modal-backdrop {
  z-index: 150;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
