.navigation__link {
  color: var(--text-light);
  font-weight: 700;
  &:hover {
    cursor: pointer;
    color: var(--accent);
  }
}
@media screen and (max-width: 1199px) {
  .navigation__list {
    display: block;
    width: 100%;
  }
  .navigation__item {
    height: 42px;
    border-top: 1px solid var(--menu-borders-color);
    border-bottom: 1px solid var(--menu-borders-color);
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 70px;
    margin-right: 70px;
    z-index: 100;
  }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 541px;
  }
}
