.adv-accent__for-main {
  text-align: center;
  @media screen and (min-width: 768px) {
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1280px) {
    letter-spacing: 0.06em;
  }
}

.adv-accent {
 /* font-family: $secondaryFont; */
  text-transform: uppercase;
  color: var(--accent);

  @media screen and (max-width: 767px) {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.adv-title__for-main {
  text-align: center;
}

.adv-title {
 /* font-family: $secondaryFont; */
  text-transform: uppercase;
  color: var(--brand-darker);
  margin-bottom: 15px;

  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.16;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.product-section {
  background-color: var(--background-white);
}

.product-box {
  @media screen and (max-width: 767px) {
    padding: 121px 20px 98px 20px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.title-products {
  margin-bottom: 141px;

  @media screen and (min-width: 768px) {
    margin-bottom: 150px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 260px;
  }
}

.product-list {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: -24px;
    margin-left: -24px;
  }
}

.product-list__item {
  border-radius: 24px;

  @media screen and (max-width: 767px) {
    padding: 161px 42px 40px 41px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: 130px;
    }
  }

  @media screen and (min-width: 768px) {
    margin-top: 20px;
    margin-left: 20px;
    padding: 152px 28px 40px 28px;
    width: calc((100% - 3 * 20px) / 3);
  }

  @media screen and (min-width: 1280px) {
    margin-top: 24px;
    margin-left: 24px;
    padding: 163px 44px 50px 44px;
    width: calc((100% - 3 * 24px) / 3);
  }
}

.product-list__item--pink {
  background-color: var(--background-ice-cream);
}

.product-list__item--peach {
  background-color: var(--background-ice-coffee);
}

.product-list__item--green {
  background-color: var(--background-milkshakes);
}

.product-list__box {
  text-align: center;
}

.product-list__title {
  position: relative;
  margin-bottom: 66px;

  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
  }

/*  font-family: $secondaryFont; */
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #fafafa;
}

.product-list__title::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 6px;
  background-image: url(../images/svg/points.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 54px;

  @media screen and (min-width: 1280px) {
    top: 62px;
  }

  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .product-list__product-icecream::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/icecream-mob.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 249px;
    min-height: 252px;
    bottom: 44px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-icecream::before {
        background-image: url('../images/products/icecream-mob@2x.png');
      }
    }
  }

  .product-list__product-icecoffee::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/icecoffee-mob.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 249px;
    min-height: 252px;
    bottom: 44px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-icecoffee::before {
        background-image: url('../images/products/icecoffee-mob@2.png');
      }
    }
  }

  .product-list__product-milkshake::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/cocktail-mob.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 249px;
    min-height: 252px;
    bottom: 44px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-milkshake::before {
        background-image: url('../images/products/cocktail-mob@2x.png');
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .product-list__product-icecream::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/icecream-tab.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 220px;
    min-height: 224px;
    bottom: 53px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-icecream::before {
        background-image: url('../images/products/icecream-tab@2x.png');
      }
    }
  }

  .product-list__product-icecoffee::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/icecoffee-tab.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 220px;
    min-height: 233px;
    bottom: 53px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-icecoffee::before {
        background-image: url('../images/products/icecoffee-tab@2x.png');
      }
    }
  }

  .product-list__product-milkshake::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/cocktail-tab.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 220px;
    min-height: 224px;
    bottom: 53px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-milkshake::before {
        background-image: url('../images/products/cocktail-tab@2x.png');
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .product-list__product-icecream::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/icecream-desk.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 335px;
    min-height: 335px;
    bottom: 72px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-icecream::before {
        background-image: url('../images/products/icecream-desk@2x.png');
      }
    }
  }

  .product-list__product-icecoffee::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/icecoffee-desk.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 335px;
    min-height: 335px;
    bottom: 72px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-icecoffee::before {
        background-image: url('../images/products/icecoffee-desk@2x.png');
      }
    }
  }

  .product-list__product-milkshake::before {
    content: ' ';
    position: absolute;
    display: inline-flex;
    background-image: url('../images/products/cocktail-desk.png');
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 335px;
    min-height: 335px;
    bottom: 72px;
    left: 50%;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      .product-list__product-milkshake::before {
        background-image: url('../images/products/cocktail-desk@2x.png');
      }
    }
  }
}

.product-list__description {
  margin-bottom: 30px;
  text-align: center;
 /* font-family: $mainFont; */

  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;

  letter-spacing: 0.04em;

  color: #fafafa;

  @media screen and (min-width: 768px) {
    line-height: 1.76;
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
    font-size: 16px;
  }
}

.product-button {
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  width: 40px;
  border-color: transparent;
  border-radius: 50%;
  padding: 10px 10px;
}

.product-button__icon {
  display: block;
  height: 15px;
  width: 15px;
  fill: var(--accent);
}
