/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */

// Style dla pliku z przykładem HTML fragmentu
@import './setup';
@import './container';
@import './header';
@import './navigation';
@import './title';
@import './backdrop';
@import './menu';
@import './products';
@import './reset';
@import './milk';
@import './footer';
