@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.container {
  max-width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

@media (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    min-width: 765px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1200px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
.header {
  background-color: #ffb8ca;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  display: flex;
  justify-content: center;
}

.header__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 37px;
}

.header__container {
  min-width: none;
}

.header__logo-icon {
  fill: #d41443;
  margin-right: 15px;
}

.header__logo {
  color: #d41443;
  font-family: Titan One;
  font-size: 30px;
  display: flex;
  align-items: center;
}

.header__head-buttons {
  z-index: 100;
  display: flex;
  align-items: center;
}

.header__menu-button {
  fill: #d41443;
  background: none;
  border: none;
  width: 20px;
  height: 12px;
  margin-right: 0px;
}

.header__title-group {
  position: relative;
  top: 84px;
  left: 5.5%;
  right: 0.69375%;
}

.header__button-list {
  display: flex;
}

.header__button--products {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0px auto;
  align-items: center;
  font-family: DM Sans;
  color: #ffffff;
  background-color: #d41443;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  width: 102px;
  height: 40px;
  border: none;
  margin-right: 15px;
}

.header__button--products:hover {
  cursor: pointer;
  background-color: #c7133e;
}

.header__button--how-its-made {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0px auto;
  align-items: center;
  font-family: DM Sans;
  color: #d41443;
  background-color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  width: 138px;
  height: 40px;
  border: none;
}

.header__button--how-its-made:hover {
  cursor: pointer;
  background-color: #ecebeb;
}

.header__ice-cream {
  position: absolute;
  bottom: 75px;
  width: 284px;
  left: 6%;
  background-image: url("../images/header-mobile/circle.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.header__ice-cream-image {
  position: relative;
  left: 22.12%;
  bottom: -65px;
}

.header__milk {
  display: flex;
  position: absolute;
  bottom: 45px;
}

.header__milk-addition {
  display: flex;
  flex-direction: column-reverse;
}

.header__milk-button {
  background-color: #ffffff;
  border-radius: 50%;
  margin-top: 20px;
  width: 26px;
  height: 26px;
  border: none;
}

.header__milk-button:hover,
.header__milk-button:focus {
  cursor: pointer;
  background-color: #ecebeb;
}

.header__milk-icon {
  fill: #d41443;
}

.header__milk-description {
  font-family: DM Sans;
  font-style: normal;
  font-size: 14px;
  line-height: 1.4;
  max-height: 78px;
  color: #ffffff;
}

.header__so-tasty {
  position: absolute;
  bottom: 0;
  right: 0;
}

.header__branch-list {
  margin: 0;
  position: absolute;
  right: 0;
  top: 24%;
}

.header_branch-list-counter {
  font-family: Titan One;
  font-size: 46px;
  line-height: 1.145;
  text-align: right;
  color: #d41443;
  padding-right: 18px;
  background-image: url("../images/header-desktop/Ellipse.png");
  background-size: 30px 30px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
}

.header_branch-list-counter-description {
  font-family: DM Sans;
  font-size: 14px;
  line-height: 1.286;
  color: #ffffff;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .header__buy-button {
    display: none;
  }
  .header__milk {
    display: none;
  }
  .header__branch {
    display: none;
  }
  .header__so-tasty {
    display: none;
  }
  .header__logo {
    z-index: 100;
  }
  .header__container {
    height: 502px;
  }
  .header__title-group {
    z-index: 100;
    top: 73px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__ice-cream {
    bottom: 75px;
    width: 284px;
    left: 6%;
    background-image: url("../images/header-mobile/circle.png");
  }
  .header__ice-cream-image {
    position: relative;
    right: 10%;
    bottom: -75px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .header__ice-cream {
    left: unset;
    right: 0%;
  }
}
@media screen and (max-width: 1199px) {
  .header__navigation {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding: 37px 34px 0px 34px;
    height: 399px;
  }
  .header__menu-button {
    margin-right: 30px;
  }
  .header__buy-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    padding: 0px auto;
    align-items: center;
    font-family: DM Sans;
    color: #d41443;
    background-color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    width: 159px;
    height: 44px;
    border: none;
  }
  .header__buy-button:hover {
    cursor: pointer;
    background-color: #ecebeb;
  }
  .header__buy-button-icon {
    margin-left: 10px;
  }
  .header__title-group {
    top: 15px;
    left: 0px;
  }
  .header__button--products {
    font-size: 8px;
    line-height: 1.25;
    width: 61.2px;
    height: 24px;
    margin-right: 9.2px;
  }
  .header__button--how-its-made {
    font-size: 8px;
    line-height: 1.25;
    width: 82.8px;
    height: 24px;
  }
  .header__milk-description {
    font-size: 8px;
    line-height: 1.5;
    max-height: 48px;
  }
  .header__milk-addition {
    max-width: 114px;
    margin-left: 0px;
    padding-bottom: 6px;
  }
  .header__milk {
    bottom: 28px;
  }
  .header_branch-list-counter {
    font-size: 28px;
    line-height: 1.14;
    padding-right: 10px;
    background-image: url("../images/header-tablet/Ellipse.png");
    background-size: 16px 16px;
  }
  .header_branch-list-counter-description {
    font-size: 8px;
    line-height: 1.25;
  }
  .header__branch-list {
    right: 34px;
    top: 24%;
  }
  .header__ice-cream {
    bottom: 46px;
    width: 324px;
    left: 40%;
    background-image: url("../images/header-tablet/circle.png");
  }
  .header__ice-cream-image {
    bottom: -46px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    background-color: #ffb8ca;
    width: 100%;
    font-family: "DM Sans", sans-serif;
    display: flex;
    justify-content: center;
  }
  .header__container {
    height: 665px;
  }
  .header__menu-button {
    display: none;
  }
  .header__buy-button-icon {
    margin-left: 10px;
  }
  .header__title-group {
    top: 84px;
    left: 5.5%;
    right: 0.69375%;
  }
  .header__button--products {
    font-size: 14px;
    line-height: 1.3;
    width: 102px;
    height: 40px;
    margin-right: 15px;
  }
  .header__button--how-its-made {
    font-size: 14px;
    line-height: 1.3;
    width: 138px;
    height: 40px;
  }
  .header__ice-cream {
    bottom: 65px;
    width: 538px;
    left: 40%;
    background-image: url("../images/header-desktop/circle.png");
  }
  .header__ice-cream-image {
    position: relative;
    left: 22.12%;
    bottom: -65px;
  }
  .header__milk-addition {
    max-width: 200px;
    margin-left: 20px;
    padding-bottom: 11px;
  }
  .header__milk-description {
    font-size: 14px;
    line-height: 1.4;
    max-height: 78px;
  }
  .header__branch-list {
    right: 0;
  }
  .header_branch-list-counter {
    font-size: 46px;
    line-height: 1.145;
    padding-right: 18px;
    background-image: url("../images/header-desktop/Ellipse.png");
    background-size: 30px 30px;
  }
  .header_branch-list-counter-description {
    font-size: 14px;
    line-height: 1.286;
  }
}
@media screen and (max-width: 1199px) {
  .navigation__list {
    display: block;
    width: 100%;
  }
  .navigation__list:hover {
    cursor: pointer;
    color: #d41443;
  }
  .navigation__link:hover {
    cursor: pointer;
    color: #d41443;
  }
  .navigation__item {
    height: 42px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .navigation {
    margin-left: 110px;
    margin-right: 110px;
    z-index: 100;
  }
  .navigation__list {
    display: flex;
    justify-content: space-between;
    width: 541px;
  }
  .navigation__link {
    color: #ffffff;
    font-weight: 700;
  }
  .navigation__link:hover {
    cursor: pointer;
    color: #d41443;
  }
}
.title {
  font-family: "titan one";
  font-size: 26px;
  font-weight: 400;
  line-height: 1.15;
  text-transform: uppercase;
  letter-spacing: 4%;
  color: #ffffff;
  max-width: 218px;
  max-height: 106px;
  margin: 0px 0px 19px 0px;
}

.title__feature {
  color: #d41443;
  font-size: 46px;
  line-height: 0.905;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 22px;
    line-height: 1.14;
    letter-spacing: 4%;
    max-width: 168px;
    max-height: 80px;
    margin: 0px 0px 20px 0px;
  }
  .title__feature {
    font-size: 34px;
    line-height: 0.905;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 38px;
    line-height: 1.145;
    letter-spacing: 4%;
    max-width: 277px;
    max-height: 137px;
    margin: 0px 0px 25px 0px;
  }
  .title__feature {
    font-size: 58px;
    line-height: 0.905;
  }
}
.backdrop {
  z-index: 101;
  position: fixed;
  right: 0;
  top: 0;
  width: 250px;
  height: 100%;
  background-color: #e17992;
  transition: 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .backdrop .backdrop {
    width: 254px;
  }
}

.menu {
  z-index: 110;
  position: relative;
  padding: 60px 21px 0px 21px;
}

.menu__close-button {
  position: absolute;
  background-color: inherit;
  border: none;
  top: 23px;
  right: 28px;
  border-radius: 50%;
  stroke: #ffffff;
}
.menu__close-button:hover, .menu__close-button:focus {
  cursor: pointer;
  stroke: #d41443;
}

.menu__close-icon {
  width: 14px;
  height: 14px;
}

.menu__buy-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 19px;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 0px auto;
  align-items: center;
  font-family: DM Sans;
  color: #d41443;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  text-align: center;
  width: 159px;
  height: 44px;
  border: none;
}
.menu__buy-button:hover {
  cursor: pointer;
  background-color: #ecebeb;
}
.menu__buy-button .menu__buy-icon {
  margin-left: 14px;
}

@media screen and (min-width: 768px) {
  .menu {
    padding: 60px 24px 0px 24px;
  }
}
.adv-accent__for-main {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .adv-accent__for-main {
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 1280px) {
  .adv-accent__for-main {
    letter-spacing: 0.06em;
  }
}

.adv-accent {
  text-transform: uppercase;
  color: var(--accent);
}
@media screen and (max-width: 767px) {
  .adv-accent {
    font-size: 34px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}
@media screen and (min-width: 768px) {
  .adv-accent {
    font-size: 48px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .adv-accent {
    font-size: 58px;
    line-height: 1.13;
    letter-spacing: 0.06em;
  }
}

.adv-title__for-main {
  text-align: center;
}

.adv-title {
  text-transform: uppercase;
  color: var(--brand-darker);
  margin-bottom: 15px;
}
@media screen and (max-width: 767px) {
  .adv-title {
    font-size: 18px;
    line-height: 1.16;
  }
}
@media screen and (min-width: 768px) {
  .adv-title {
    font-size: 26px;
    line-height: 1.15;
  }
}
@media screen and (min-width: 1280px) {
  .adv-title {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

.product-section {
  background-color: var(--background-white);
}

@media screen and (max-width: 767px) {
  .product-box {
    padding: 121px 20px 98px 20px;
  }
}
@media screen and (min-width: 768px) {
  .product-box {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1280px) {
  .product-box {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.title-products {
  margin-bottom: 141px;
}
@media screen and (min-width: 768px) {
  .title-products {
    margin-bottom: 150px;
  }
}
@media screen and (min-width: 1280px) {
  .title-products {
    margin-bottom: 260px;
  }
}

@media screen and (min-width: 768px) {
  .product-list {
    display: flex;
    margin-top: -20px;
    margin-left: -20px;
  }
}
@media screen and (min-width: 1280px) {
  .product-list {
    margin-top: -24px;
    margin-left: -24px;
  }
}

.product-list__item {
  border-radius: 24px;
}
@media screen and (max-width: 767px) {
  .product-list__item {
    padding: 161px 42px 40px 41px;
    width: 100%;
  }
  .product-list__item:not(:last-child) {
    margin-bottom: 130px;
  }
}
@media screen and (min-width: 768px) {
  .product-list__item {
    margin-top: 20px;
    margin-left: 20px;
    padding: 152px 28px 40px 28px;
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .product-list__item {
    margin-top: 24px;
    margin-left: 24px;
    padding: 163px 44px 50px 44px;
    width: calc((100% - 72px) / 3);
  }
}

.product-list__item--pink {
  background-color: var(--background-ice-cream);
}

.product-list__item--peach {
  background-color: var(--background-ice-coffee);
}

.product-list__item--green {
  background-color: var(--background-milkshakes);
}

.product-list__box {
  text-align: center;
}

.product-list__title {
  position: relative;
  margin-bottom: 66px;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #fafafa;
}
@media screen and (min-width: 1280px) {
  .product-list__title {
    margin-bottom: 70px;
  }
}

.product-list__title::after {
  content: "";
  position: absolute;
  width: 26px;
  height: 6px;
  background-image: url(../images/svg/points.svg);
  background-repeat: no-repeat;
  background-size: contain;
  top: 54px;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (min-width: 1280px) {
  .product-list__title::after {
    top: 62px;
  }
}

@media screen and (max-width: 767px) {
  .product-list__product-icecream::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/icecream-mob.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 249px;
    min-height: 252px;
    bottom: 44px;
    left: 50%;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .product-list__product-icecream::before .product-list__product-icecream::before {
    background-image: url("../images/products/icecream-mob@2x.png");
  }
}
@media screen and (max-width: 767px) {
  .product-list__product-icecoffee::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/icecoffee-mob.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 249px;
    min-height: 252px;
    bottom: 44px;
    left: 50%;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .product-list__product-icecoffee::before .product-list__product-icecoffee::before {
    background-image: url("../images/products/icecoffee-mob@2.png");
  }
}
@media screen and (max-width: 767px) {
  .product-list__product-milkshake::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/cocktail-mob.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 249px;
    min-height: 252px;
    bottom: 44px;
    left: 50%;
  }
}
@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .product-list__product-milkshake::before .product-list__product-milkshake::before {
    background-image: url("../images/products/cocktail-mob@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .product-list__product-icecream::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/icecream-tab.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 220px;
    min-height: 224px;
    bottom: 53px;
    left: 50%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-list__product-icecream::before .product-list__product-icecream::before {
    background-image: url("../images/products/icecream-tab@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .product-list__product-icecoffee::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/icecoffee-tab.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 220px;
    min-height: 233px;
    bottom: 53px;
    left: 50%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-list__product-icecoffee::before .product-list__product-icecoffee::before {
    background-image: url("../images/products/icecoffee-tab@2x.png");
  }
}
@media screen and (min-width: 768px) {
  .product-list__product-milkshake::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/cocktail-tab.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 220px;
    min-height: 224px;
    bottom: 53px;
    left: 50%;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .product-list__product-milkshake::before .product-list__product-milkshake::before {
    background-image: url("../images/products/cocktail-tab@2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .product-list__product-icecream::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/icecream-desk.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 335px;
    min-height: 335px;
    bottom: 72px;
    left: 50%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-list__product-icecream::before .product-list__product-icecream::before {
    background-image: url("../images/products/icecream-desk@2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .product-list__product-icecoffee::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/icecoffee-desk.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 335px;
    min-height: 335px;
    bottom: 72px;
    left: 50%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-list__product-icecoffee::before .product-list__product-icecoffee::before {
    background-image: url("../images/products/icecoffee-desk@2x.png");
  }
}
@media screen and (min-width: 1280px) {
  .product-list__product-milkshake::before {
    content: " ";
    position: absolute;
    display: inline-flex;
    background-image: url("../images/products/cocktail-desk.png");
    transform: translate(-50%, 0);
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 335px;
    min-height: 335px;
    bottom: 72px;
    left: 50%;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .product-list__product-milkshake::before .product-list__product-milkshake::before {
    background-image: url("../images/products/cocktail-desk@2x.png");
  }
}
.product-list__description {
  margin-bottom: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fafafa;
}
@media screen and (min-width: 768px) {
  .product-list__description {
    line-height: 1.76;
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .product-list__description {
    margin-bottom: 62px;
    font-size: 16px;
  }
}

.product-button {
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  width: 40px;
  border-color: transparent;
  border-radius: 50%;
  padding: 10px 10px;
}

.product-button__icon {
  display: block;
  height: 15px;
  width: 15px;
  fill: var(--accent);
}

body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

/* font sizes */
/* colors */
:root {
  --brand-darker: #ffa5ba;
  --brand-the-darkest: #d41443;
  --accent: #d41443;
  --accent-darker: #c7133e;
  --text-main: #907e82;
  --text-dark: #000000;
  --text-light: #ffffff;
  --text-hours: #ffa5ba;
  --text-button-dark: #c7133e;
  --text-button-light: #ffffff;
  --background-main: #ffb8ca;
  --background-darker: #ffa5ba;
  --background-products: #e5e5e5;
  --background-about: #fff5f6;
  --background-gallery-reviews: #e5e5e5;
  --background-contacts-footer: #fff5f6;
  --background-button-light: #ffffff;
  --background-button-light-accent: #ecebeb;
  --background-button-dark: #d41443;
  --background-button-dark-accent: #c7133e;
  --background-ice-cream: #ffb8ca;
  --background-ice-coffee: #f0d1a5;
  --background-milkshakes: #c2e297;
  --dots-customer-review: #c7133e;
  --undrline-effect: #e1e1e1;
  --customer-review-accent: #d41443;
  --customer-review-non-accent: #d9d9d9;
  --social-icon-color:#FEA5BB;
}

.milk {
  background-color: var(--background-about);
  font-family: "DM Sans", sans-serif;
}
.milk__image {
  margin-right: 37px;
}

.about__title {
  padding-top: 125px;
  text-align: center;
  color: var(--brand-darker);
  font-size: large;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.14;
  font-family: "Titan One", cursive;
}
.about__title2 {
  padding-top: 15px;
  text-align: center;
  color: var(--brand-the-darkest);
  font-size: large;
  font-weight: 400;
  font-size: 58px;
  line-height: 1.14;
  font-family: "Titan One", cursive;
}
.about__description {
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.76;
  padding-bottom: 35px;
}
.about__description2 {
  color: var(--text-main);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.94;
  padding-bottom: 45px;
}
.about__content {
  padding-top: 55px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.about__text {
  padding-left: 37px;
  max-width: 463px;
}
.about__button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.3;
  color: var(--brand-the-darkest);
  background-color: white;
  border-radius: 22px;
  border: none;
  width: 176px;
  height: 44px;
}
.about__button:hover {
  cursor: pointer;
  background-color: var(--background-button-light-accent);
}

.advantages__title-hidden {
  display: none;
}
.advantages__title {
  padding-top: 40px;
  font-size: 58px;
  font-weight: 400;
  line-height: 1.14;
  color: var(--brand-the-darkest);
  font-family: "Titan One", cursive;
}
.advantages__list {
  padding-top: 39px;
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: center;
}
.advantages__text {
  max-width: 330px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.76;
  color: black;
  padding-top: 15px;
  padding-bottom: 310px;
}

.page-footer {
  background: var(--background-contacts-footer);
  padding-top: 100px;
}
@media screen and (min-width: 1280px) {
  .page-footer {
    background-image: url("../images/footer/sectionbg1280x382.jpg");
    height: 382px;
    background-repeat: no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .page-footer {
    background-image: url("../images/footer/sectionbg@2x2560x764.jpg");
    height: 764px;
  }
}

.page-footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-right: -30px;
}

.footer__locations {
  display: flex;
  flex-direction: column;
  padding: 51px 44px 62px 43px;
  background: #FFFFFF;
  box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  margin-right: 30px;
  width: 90%;
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 54px;
  margin-bottom: 113px;
  align-items: center;
}

.button-locations {
  /* Our Locations */
  width: 198px;
  height: 44px;
  display: inline-block;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  background: #D41342;
  border-radius: 22px;
  border: none;
  padding-left: 35px;
  padding-right: 35px;
  cursor: pointer;
}

.button__svg {
  width: 4.43px;
  height: 8px;
  margin-left: 13px;
}

.button__icon {
  justify-content: center;
  align-items: center;
  display: flex;
  fill: #fff;
}

.button-locations--color {
  color: #D41443;
  background: #FFFFFF;
}

.button-locations--color:hover {
  background: #ECEBEB;
  color: #D41443;
}

.button-locations--margin {
  margin-bottom: 10px;
}

.location__title {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  color: white;
  border-radius: 6px;
  margin-right: auto;
  outline: none;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.location__title--cafe {
  background: #F0D1A5;
  border: #F0D1A5;
  margin-bottom: 25px;
}

.location__title--food {
  background: #C2E297;
  border: #C2E297;
  margin-bottom: 25px;
}

.location__place {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: left;
  color: #000000;
}

.location__place--margin {
  margin-bottom: 10px;
}

.location__info {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 28px;
  letter-spacing: 0.04em;
  color: #907E82;
}

.location__info--margin {
  margin-bottom: 25px;
}

.location__opening-week {
  /* Monday - Friday */
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #000000;
}

.location__opening-time {
  /* 06:00 AM - 10:00 PM */
  font-style: bold;
  font-weight: 500;
  font-size: 12px;
  line-height: 22px;
  color: #FFA5BA;
}

.location__opening-hours {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding-top: 25px;
  padding-bottom: 25px;
}

.location__contact-list {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #907E82;
  text-decoration: none;
  padding-top: 25px;
}

.location__contact {
  text-decoration: none;
  color: #907E82;
}

.footer__section-bottom {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.footer__section-bottom--margin {
  margin-bottom: 43px;
}

.footer__text-light {
  /* homemade ice cream made */
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFA5BA;
  margin-bottom: 15px;
  flex-wrap: wrap;
  width: 80%;
}

.footer__text-dark {
  /* with passion */
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 38px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #D41443;
  width: 50%;
}

.footer__social {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
}

.footer__social-list {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  align-content: flex-end;
}

.footer__social-margin {
  margin-top: 43px;
  margin-bottom: 46px;
}

.social-list__item--footer {
  margin-left: 28px;
}

.social-list__link {
  fill: var(--social-icon-color);
  transition-property: background-color;
  transition-duration: 250ms;
}

.social-list__icon {
  fill: var(--social-icon-color);
}
.social-list__icon:hover, .social-list__icon:focus {
  background-color: #FFFFFF;
  fill: var(--customer-review-accent);
}

.footer__contact {
  display: flex;
  align-content: flex-end;
  flex-wrap: nowrap;
  align-items: baseline;
  text-decoration: none;
  font-style: bold;
  font-weight: 700;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.02em;
  min-width: 230px;
  height: 22px;
  margin-top: 43px;
}

.footer__contact-phone {
  color: #D41443;
  margin-left: 10px;
  text-decoration: none;
  flex-wrap: nowrap;
}

.footer__accent {
  /* Feel free to contact*/
  color: #000000;
  flex-wrap: nowrap;
}

.footer__bottom {
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  border-top: 1px solid #E1E1E1;
  width: 100%;
  align-items: center;
  text-align: center;
  padding-bottom: 25px;
  padding-top: 22px;
  flex-wrap: wrap;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #907E82;
}

@media screen and (max-width: 768px) {
  .footer__list {
    display: flex;
    flex-direction: column;
  }
  .footer__locations {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .button-locations--margin {
    margin-right: 15px;
  }
  .buttons {
    margin-top: 86px;
    margin-bottom: 165px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
    align-content: center;
  }
  .footer__contact {
    font-size: 16px;
  }
  .footer__section-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }
  .footer__section-bottom--margin {
    margin-bottom: 91px;
  }
}
.section__customer-review {
  padding-top: 40px;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .section__customer-review {
    padding-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .section__customer-review {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.section__customer-review .review__img {
  margin-left: auto;
  margin-right: auto;
  width: 85px;
  margin-bottom: 32px;
}
.section__customer-review .review__tab {
  padding: 43px 50px 26px 50px;
  background-color: #fafafa;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .section__customer-review .review__tab {
    padding: 37px 55px 44px 55px;
  }
}
@media screen and (min-width: 1280px) {
  .section__customer-review .review__tab {
    padding: 32px 55px 32px 55px;
  }
}
.section__customer-review .review__text {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 12px;
  padding: 0 31px;
  line-height: 2.58;
  text-align: center;
  background-image: repeating-linear-gradient(0deg, #e1e1e1, #e1e1e1 1px, #fafafa 0, #fafafa 31.5px);
}
.section__customer-review .review__text::before {
  position: absolute;
  z-index: -1;
  top: -16px;
  left: -6px;
  content: "";
  width: 54px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/svg/“.svg);
}
@media screen and (min-width: 768px) {
  .section__customer-review .review__text {
    left: -6px;
    padding: 0 25px;
    font-size: 14px;
    line-height: 2.14;
  }
}
@media screen and (min-width: 1280px) {
  .section__customer-review .review__text {
    left: -2px;
    padding: 0 25px;
    font-size: 16px;
    line-height: 1.87;
  }
}
.section__customer-review .review__name {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.85;
  margin-top: 36px;
  margin-bottom: 40px;
  color: var(--text-dark);
}
.section__customer-review .review__name::before {
  position: absolute;
  content: "";
  width: 32px;
  height: 16%;
  top: -16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../images/svg/dots.svg);
}
@media screen and (min-width: 768px) {
  .section__customer-review .review__name {
    font-size: 16px;
    line-height: 1.87;
    margin-bottom: 0;
    padding-bottom: 23px;
  }
}
@media screen and (min-width: 1280px) {
  .section__customer-review .review__name {
    font-size: 20px;
    line-height: 1.85;
    margin-bottom: 0;
    padding-bottom: 40px;
  }
}
.section__customer-review .swiper-horizontal > .swiper-pagination-bullets,
.section__customer-review .swiper-pagination-bullets.swiper-pagination-horizontal,
.section__customer-review .swiper-pagination-custom,
.section__customer-review .swiper-pagination-fraction {
  bottom: 43px;
}
@media screen and (min-width: 480px) {
  .section__customer-review .swiper-horizontal > .swiper-pagination-bullets,
.section__customer-review .swiper-pagination-bullets.swiper-pagination-horizontal,
.section__customer-review .swiper-pagination-custom,
.section__customer-review .swiper-pagination-fraction {
    bottom: 53px;
  }
}
@media screen and (min-width: 768px) {
  .section__customer-review .swiper-horizontal > .swiper-pagination-bullets,
.section__customer-review .swiper-pagination-bullets.swiper-pagination-horizontal,
.section__customer-review .swiper-pagination-custom,
.section__customer-review .swiper-pagination-fraction {
    bottom: 10px;
  }
}
@media screen and (min-width: 1280px) {
  .section__customer-review .swiper-horizontal > .swiper-pagination-bullets,
.section__customer-review .swiper-pagination-bullets.swiper-pagination-horizontal,
.section__customer-review .swiper-pagination-custom,
.section__customer-review .swiper-pagination-fraction {
    bottom: 7px;
  }
}
.section__customer-review .swiper-pagination-bullet {
  width: 14px;
  height: 14px;
}
.section__customer-review .swiper-pagination-bullet-active {
  margin-bottom: -4px;
  background-image: url(../images/svg/home2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: unset;
  background-color: transparent;
  width: 14px;
  height: 14px;
}/*# sourceMappingURL=main.css.map */