<footer class="page-footer">
    <div class="container">
        <div class="footer__list">
            <div class="footer__locations">
                <h5 class="location__title">CAFE</h5>
                <h6 class="location__place">Chicago</h6>
                <p cass="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="location__opening-hours">
                    <li class="location__opening-week">Monday-Friday</li>
                    <li class="location__opening-time"> 06:00 AM 10:00 PM</li>
                    <li class="location__opening-week">Saturday-Sunday</li>
                    <li class="location__opening-time"> 08:00 AM 16:00 PM</li>
                </ul>
                <p class="location__contact">
                    <a class="location__contact-phone" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
                </p>
                <p class="location__contact">
                    <a class="location__contact-mail" href="mailto:noreply@envato.com1"> noreply@envato.com1</a>
                </p>
            </div>
            <div class="footer__locations">
                <h5 class="location__title">FOOD TRUCK</h5>
                <h6 class="location__place">Los Angeles</h6>
                <p cass="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="location__opening-hours">
                    <li class="location__opening-week">Monday-Friday</li>
                    <li class="location__opening-time"> 06:00 AM 10:00 PM</li>
                    <li class="location__opening-week">Saturday-Sunday</li>
                    <li class="location__opening-time"> 08:00 AM 16:00 PM</li>
                </ul>
                <p class="location__contact">
                    <a class="location__contact-phone" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
                </p>
                <p class="location__contact">
                    <a class="location__contact-mail" href="mailto:noreply@envato.com1"> noreply@envato.com1</a>
                </p>
            </div>
            <div class="footer__locations">
                <h5 class="location__title">CAFE</h5>
                <h6 class="location__place">Chicago</h6>
                <p cass="location__info">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                <ul class="location__opening-hours">
                    <li class="location__opening-week">Monday-Friday</li>
                    <li class="location__opening-time"> 06:00 AM 10:00 PM</li>
                    <li class="location__opening-week">Saturday-Sunday</li>
                    <li class="location__opening-time"> 08:00 AM 16:00 PM</li>
                </ul>
                <p class="location__contact">
                    <a class="location__contact-phone" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
                </p>
                <p class="location__contact">
                    <a class="location__contact-mail" href="mailto:noreply@envato.com1"> noreply@envato.com1</a>
                </p>
            </div>
        </div>
        <button typ="button" class="button-locations">Our Locations</button>
        <button typ="button" class="button-locations">Frnachise</button>
        <div class="footer__text">
            <p class="footer__text-light">homemade ice cream made</p>
            <p class="footer__text-dark">with passion</p>
        </div>

        <div class="footer__social-list">
            <ul class="social-list social-list--footer">
                <li class="social-list__item--footer">
                    <a class="social-list__link social-list__link--footer" href="https://github.com/">
                        <svg class="social-list__icon social-list__icon--footer" width="34" height="34">
                            <use href="images/icon.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item--footer">
                    <a class="social-list__link social-list__link--footer" href="https://telegram.org/">
                        <svg class="social-list__icon social-list__icon--footer" width="34" height="34">
                            <use href="images/icon.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="social-list__item--footer">
                    <a class="social-list__link social-list__link--footer" href="https://facebook.com/">
                        <svg class="social-list__icon social-list__icon--footer" width="34" height="34">
                            <use href="images/icon.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>

        </div>
        <div class="footer__contact">
            <a class="footer__contact-phone" href="tel:+61(0) 383 766 284">+61(0) 383 766 284 </a>
        </div>
        <div class="footer__bottom">&#174 2019 - IceCream. All Rights Reserved.</div>
    </div>
</footer>
</body>