<header class="header">
  <div class="container header__container">
    <a href="" class="header__logo">ICECREAM</a>
    <nav class="header__navigation navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link navigation__link--active" href="#header">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#about-us">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#how-its-made">How it's made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#our-products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <button class="header__menu-button" type="button" data-modal-open>
      <svg class="header__menu-icon">
        <use href=""></use>
      </svg>
    </button>
    <button class="header__buy-button" type="button">
      Buy now<svg class="header__buy-button-icon"><use href=""></use></svg>
    </button>
    <div class="header__title-group">
      <div class="header__title">ICE CREAM MADE WITH<span" class="header__title-">PASSION</span></div>
      <ul>
        <li class="header__products-button">
          <button class="header__products-button-inside">Products</button>
        </li>
        <li class="header__how-its-made-button">
          <button class="header__how-its-made-button-inside">How it's made?</button>
        </li>
      </ul>
    </div>
    <div class="header__ice-cream">
        <img
            class="header__ice-cream-image" 
            src=""
            alt="Ice creams in a cone"/>
    </div>
    <div class="header__branch">
        <ul class="header__branch-list">
            <li class="header_branch-list-counter">16<span class="header_branch-list-counter-description">cafes</span></li>
            <li class="header_branch-list-counter">23<span class="header_branch-list-counter-description">food trucks</span></li>
        </ul>
    </div>
    <div class="header__milk">
        <img 
            class="header__milk-image"
            src=""
            alt="Milk in a pitcher with inscription BIO ECO"
        />
        <div>
        <div class="header__milk-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
        </div>
        <svg class="header__milk-icon">
            <use href=""></use>
        </svg>
        </div>
    </div>
    <div class="header__so-tasty">
        <img class="header__so-tasty-image" src="" alt="">
    </div>
  </div>
</header>
