<header class="header" id="header">
  <div class="container header__container">
    <div class="header__head">
    <a href="" class="header__logo">
      <svg width="50px" height="50px" class="header__logo-icon">
        <use href="./images/svg/icons.svg#icon-logo"></use>
      </svg>
      ICECREAM
    </a>
    <nav class="header__navigation navigation">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="#header">Home</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#about-us">About us</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#how-its-made">How it's made?</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#our-products">Our products</a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="#contact">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="header__head-buttons"> 
    <button class="header__menu-button" type="button" data-menu-open>
      <svg width=20px height=12px class="header__menu-icon">
        <use href="./images/svg/icons.svg#icon-burger"></use>
      </svg>
    </button>
    <button class="header__buy-button" type="button" data-modal-open>
      Buy now
      <svg width=8px height=10px class="header__buy-button-icon">
        <use href="./images/svg/icons.svg#icon-arrow-right-button"></use>
      </svg>
    </button>
    </div>
    </div>
    <div class="header__title-group">
      <h1 class="header__title title">ICE CREAM MADE WITH <span" class="title__feature">PASSION</span></h1>
      <ul class="header__button-list">
        <li class="header__button">
          <a href="#our-products"><button class="header__button--products">Products</button></a>
        </li>
        <li class="header__button">
          <a href="#how-its-made"><button class="header__button--how-its-made">How it's made?</button></a>
        </li>
      </ul>
    </div>
    <div class="header__ice-cream">
        <img
                src="./images/header-desktop/iceCream.png"
                srcset="
                ./images/header-tablet/iceCream.png 143w,
                ./images/header-mobile/iceCream.png 171w,  
                ./images/header-desktop/iceCream.png 236w,
                ./images/header-tablet/iceCream@2x.png 286w,
                ./images/header-mobile/iceCream@2x.png 342w,
                ./images/header-desktop/iceCream@2x.png 472w
                "
                sizes="(min-width: 1200px) 236px, (min-width: 768px) 143px, (min-width: 320px) 171px"
                alt="Ice creams in a cone"
                class="header__ice-cream-image"
          />
    </div>
    <div class="header__branch">
        <ul class="header__branch-list">
            <li class="header_branch-list-counter">16<p class="header_branch-list-counter-description">cafes</p></li>
            <li class="header_branch-list-counter">23<p class="header_branch-list-counter-description">food trucks</p></li>
        </ul>
    </div>
    <div class="header__milk">
        <img
                src="./images/header-desktop/milk.png"
                srcset="
                ./images/header-tablet/milk.png 124w, 
                ./images/header-desktop/milk.png 188w,
                ./images/header-tablet/milk@2x.png 248w,
                ./images/header-desktop/milk@2x.png 376w
                "
                sizes="(min-width: 1200px) 188px, (min-width: 768px) 124px"
                alt="Milk in a pitcher with inscription BIO ECO"
                class="header__milk-image"
          />
        <div class="header__milk-addition">
          <button class="header__milk-button">
          <svg width=10px height=10px class="header__milk-icon">
            <use href="./images/svg/icons.svg#arrow-right"></use>
          </svg>
          </button>
          <div class="header__milk-description">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et          </div>
        </div>
    </div>
    <div class="header__so-tasty">
        <img
            src="./images/header-desktop/sootasty.png"
            srcset="
            ./images/header-tablet/tasty.png 168w, 
            ./images/header-desktop/sootasty.png 293w,
            ./images/header-tablet/tasty@2x.png 336w,
            ./images/header-desktop/sootasty@2x.png 586w
            "
            sizes="(min-width: 1200px) 293px, (min-width: 768px) 168px"
            alt="Girl with ice cream saing SOOO TASTYO"
            class="header__so-tasty-image"
          /> 
    </div>
  </div>
</header>
<!-- MOBILE/TABLET MENU START -->
    <div class="backdrop backdrop--hidden" data-menu>
      <div class="menu">
        <button
          type="button"
          class="menu__close-button"
          data-menu-close
        >
          <svg width=14px height=14px class="menu__close-icon">
            <use href="./images/svg/icons.svg#icon-close"></use>
          </svg>
        </button>
        <button class="menu__buy-button" type="button" data-menu-close data-modal-open>
          Buy now
          <svg width=8px height=10px class="menu__buy-icon">
            <use href="./images/svg/icons.svg#icon-arrow-right-button"></use>
          </svg>
        </button>
        <nav class="menu__navigation navigation">
          <ul class="navigation__list">
            <li class="navigation__item">
              <a class="navigation__link" href="#header">Home</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#about-us">About us</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#how-its-made">How it's made?</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#our-products">Our products</a>
            </li>
            <li class="navigation__item">
              <a class="navigation__link" href="#contact">Contact</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- MOBILE/TABLET MENU END -->
<!-- MODAL START -->
     <div class="modal-backdrop backdrop--hidden" data-modal>
      <div class="modal">
        <button
          type="button"
          class="menu__close-button"
          data-modal-close
        >
          <svg width=14px height=14px class="menu__close-icon">
            <use href="./images/svg/icons.svg#icon-close"></use>
          </svg>
        </button>
        <form class="form modal__form">
          <h3 class="form__title">Leave your details in the form below</h3>
          <label for="name">
            <div class="form__input-box">
              <div class="form__input-title">Company name/Full Name</div>
              <input
                id="name"
                type="text"
                name="name"
                class="form__input"
                required
              />
            </div>
          </label>
          <label for="telephone-number">
            <div class="form__input-box">
              <div class="form__input-title">Telefon</div>
              <input
                id="telephone-number"
                type="tel"
                name="tel"
                class="form__input"
                required
              />
            </div>
          </label>
          <label for="email" class="">
            <div class="form__input-box">
              <div class="form__input-title">Email</div>
              <input
                id="email"
                type="email"
                name="email"
                class="form__input"
                required
              />
            </div>
          </label>
          <label for="comment">
            <div class="form__input-title">Additional informations</div>
            <textarea
              id="comment"
              name="comment"
              placeholder="Enter text"
              class="form__textarea"
            ></textarea>
          </label>
          <div class="modal-terms">
            <input
              type="checkbox"
              name="statute-checkbox"
              id="user-policy"
              class="form__policy form__policy--hidden"
              required
            />
            <label for="user-policy" class="form__policy-text">
              <span
                >I declare that i accept
                <a class="checkbox-statute-links" href="">Statute</a> and
                <a class="checkbox-statute-links" href="">Privacy Policy.</a>
              </span>
            </label>
          </div>
          <div class="form__submit">
            <button type="submit" class="form__button">Send</button>
          </div>
        </form>
      </div>
    </div>
    <!-- MODAL END -->
