<article class="about">
  <h2>TRADITION AND LOVE</h2>
  <h1>HOW IT'S MADE?</h1>
  <div>
    <img
                  class="milk__image"
                  src="./images/about-advantages/cow-desktop@1x.png"
                  srcset="
                  ./images/about-advantages/cow-desktop@1x.png 450w,
                  ./images/about-advantages/cow-desktop@2x.png 9000w,
                  ./images/about-advantages/cow-tab@1x.png 354w,
                  ./images/about-advantages/cow-tab@2x.png 708w,
                  ./images/about-advantages/cow-mob@1x.png 270w,
                  ./images/about-advantages/cow-mob@2x.png 540w,
                  "
                  alt="milk and cow"
                  sizes="(min-width: 1280px) 516px, (min-width: 768px) 340px, (min-width: 480px) 280px"
                />
    <p>
      Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus lorem
      eget, egestas eros. Maecenas eleifend erat at justo fringilla.
    </p>
    <p>
      Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus orci in
      imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
      Cras massa nibh, tincidunt.
    </p>
    <p>Aliquam erat volutpat. Aenean accumsan.</p>
    <button>Read more ></button>
  </div>
</article>
<article class="advantages">
    <h1 class="advantages__title">Advantages</h1>
    <ul class="adantages__list">
        <li>
            <svg class="advanteges__icon"><use href="#"></use></svg>
            <h1>721</h1>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <svg class="advanteges__icon"><use href="#"></use></svg>
            <h1>16kg</h1>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
        <li>
            <svg class="advanteges__icon"><use href="#"></use></svg>
            <h1>84</h1>
            <p>Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
        </li>
    </ul>
</article>