<section class="section-gallery">
    <div class="container container--reduced-padding">
    <h2 class="visually-hidden">Gallery</h2>
        <picture>
            <source
            srcset="./images/gallery/gallery-desktop.png, ./images/gallery/gallery-desktop@2x.png 2x"
            media="(min-width:1280px)">

            <source 
            srcset="./images/gallery/gallery-tablet.png 1x, ./images/gallery/gallery-tablet@2x.png 2x" 
            media="(min-width:768px)">

            <source 
            srcset="./images/gallery/gallery-mobile.png 1x, ./images/gallery/gallery-mobile@2x.png 2x" 
            media="(max-width:767px)">

            <img src="./images/gallery/gallery-desktop.png" class="gallery-photo" alt="Gallery">
        </picture>
    </div>
</section>